body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.title {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgba(139, 185, 158, 0.795);
    border-radius: 30px;
}

.title-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.title-image {
    border-radius: 30px;
    height: 90%;
}

@font-face {
    font-family: 'ElectricityGeneration';
    src: url('DATA/ElectricityGenerationRegular-x3Z2m.ttf') format('truetype'); /* Adjust the path based on your structure */
    font-weight: normal; /* Adjust if needed */
    font-style: normal; /* Adjust if needed */
}

.custom-text {
    font-family: 'ElectricityGeneration', sans-serif; /* Fallback to sans-serif */
}

.content {
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    background-color: rgba(78, 192, 125, 0.795);
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.chart-container {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.generic {
    display: flex;
    background-color: rgba(134, 205, 164, 0.795);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    text-align: center;
}

input[type="range"] {
    width: 300px;
}

input[type="select"] {
    width: 300px;
}